* {
  /* margin: 0;
  padding: 0; */
  height: 100%;
}

.board-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.grid-container {
  height: 350px;
  width: 350px;
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.grid-item {
  border: 1px solid black;
}

.disabled-board{
  pointer-events: none;
  opacity: 0.4;
}

.human-ship {
  background-color: rgba(98, 73, 238, 0.397);
}

.computer-ship {
  /* No background color */
  /* background-color: rgba(39, 219, 39, 0.397); */
  background-color: rgba(39, 219, 39, 0.397);
}

.missed-cell {
  display: grid;
  place-items: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(247, 189, 189);
}

.hit-ship {
  border: 1px solid red;
  background-color: rgb(247, 189, 189);

  width: 100%;
  height: 100%;
  position: relative;
  /* These are for the "X" */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hit-ship::before,
.hit-ship::after {
  content: "";
  position: absolute;
  background-color: red;
  width: 0.05rem;
  height: 100%;
}

.hit-ship::before {
  transform: rotate(45deg);
}

.hit-ship::after {
  transform: rotate(-45deg);
}
